@keyframes slide {
  0% {
  }
  50% {
    left: 515px;
    top: 75px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.main-header {
  position: relative;
}
.stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  overflow: hidden;
}
.stage:hover .ball {
  animation: slide 2s linear;
  animation-iteration-count: infinite;
}
.ball {
  top: -15px;
  left: -40px;
  background: green;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
